@model ToDoFormModel

<form method="post" asp-controller="ToDo" asp-action="Add">
    <div class="col md-6 col-4">
        <div class="form-group">
                <label asp-for="Name" class="text-color-white col-sm-2 col-form-label">Name</label>
                <textarea asp-for="Name" type="text" class="form-control" placeholder="Enter task name" rows="3"></textarea>
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>

        <div class="form-group">
                <label asp-for="Description" class="text-color-white col-sm-2 col-form-label">Description</label>
                <textarea asp-for="Description" type="text" class="form-control" placeholder="Enter more info about tournament" rows="3"></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
        <fieldset class="row mb-3">
            <div class="form-group">
                <label asp-for="Priority" class="text-color-white form-label">Priority:</label>
                <select asp-for="Priority" class="form-control">
                    @foreach (Priority priority in (Priority[])Enum.GetValues(typeof(Priority)))
                    {
                        <option>@priority</option>
                    }
                </select>
            </div>
        </fieldset>
        <div class="row mb-3">
            <label>Target Date:</label>
            <input asp-for="TargetDate" type="date"></input>
        </div>
        <div class="form-group row">
                <div class="col-sm-10">
                    <input class="btn btn-primary mt-2" type="submit" value="Save" />
                </div>
            </div>
    </div>
</form>